@import "https://fonts.googleapis.com/css?family=Raleway";

body {
	color: #6c6c6c;
	font-family: "Raleway", sans-serif;
	margin: 50px auto 0;
	max-width: 800px;
	width: 100%;
}

@media (max-width: 426px) {
	body {
		margin-top: 0;
	}
}

main {
	width: 670px;
}

article {
	margin-bottom: 50px;
}

h2 {
	color: #3c3c3c;
	margin-top: 0;
}

p, ul {
	line-height: 1.5em;
	padding: 0 6px;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #ff394c;
}

#site-header {
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 50px;
	padding-bottom: 25px;
}

#masthead {
	margin: 0;
	width: fit-content;
}

#masthead img {
	display: block;
	width: 100%;
}

#site-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 10px;
}