@import "https://fonts.googleapis.com/css?family=Raleway";

*,
::before,
::after {
	box-sizing: border-box;
}

::selection {
	background-color: #ff6666;
	color: #fff;
}

::-moz-selection {
	background-color: #ff6666;
	color: #fff;
}

:root {
	font-family: "Raleway", sans-serif;
	line-height: 1.5;
}

body {
	color: #666;
	margin: 5% auto 0;
	max-width: 800px;
	width: 80%;
}

article:not(:last-child) {
	margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #404040;
	margin-top: 0;
}

p, ul {
	margin-top: 0;
	padding: 0 0.375rem;
}

ul {
	list-style: none;
}

p:last-child, ul:last-child {
	margin-bottom: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	color: #ff4d4d;
}

.row {
	display: flex;
}

.column {
	padding: 0 .625rem;
}

.column.one		{ flex: 1; }
.column.two 	{ flex: 2; }
.column.three 	{ flex: 3; }
.column.four 	{ flex: 4; }
.column.five 	{ flex: 5; }
.column.six 	{ flex: 6; }
.column.seven 	{ flex: 7; }
.column.eight 	{ flex: 8; }
.column.nine 	{ flex: 9; }

#masthead {
	margin-bottom: 3rem;
}

#logo {
	display: block;
	max-width: 100%;
}

@media (max-width: 426px) {
	body {
		width: 90%;
	}

	.column {
		padding: 0;
	}
}

@media (max-width: 600px) {
	.row {
		flex-direction: column;
	}

	.column:not(:last-child) {
		margin-bottom: 3rem;
	}
}