*,
::after,
::before {
	box-sizing: border-box;
}

::selection {
	background-color: #ff6666;
	color: #fff;
}

::-moz-selection {
	background-color: #ff6666;
	color: #fff;
}

:root {
	font: 16px/1.5 sans-serif;
}

body {
	color: #666;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 90%;
}

.row {
	display: flex;
}

.col {
	margin-right: 2em;
	min-width: min-content;
	min-width: -moz-min-content;
	min-width: -webkit-min-content;
}

.col:last-child {
	margin-right: 0;
}

.col.span-1 { flex: 1; }
.col.span-2 { flex: 2; }
.col.span-3 { flex: 3; }
.col.span-4 { flex: 4; }
.col.span-5 { flex: 5; }
.col.span-6 { flex: 6; }
.col.span-7 { flex: 7; }
.col.span-8 { flex: 8; }
.col.span-9 { flex: 9; }

@media (max-width: 720px) {
	.row {
		flex-direction: column;
	}

	.col {
		margin-bottom: 3.125rem;
		margin-right: 0;
	}

	.col:last-child {
		margin-bottom: 0;
	}
}

ol,
ul {
	padding-left: 1.5em;
}

a {
	color: #ff4d4d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #b81414;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	margin: 0;
}

h1 {
	font-size: 2.25em;
	margin-bottom: .5em;
}

h2 {
	font-size: 1.875em;
	margin-bottom: .6em;
}

h3 {
	font-size: 1.5625em;
	margin-bottom: .7em;
}

h4 {
	font-size: 1.3125em;
	margin-bottom: .8em;
}

h5 {
	font-size: 1.125em;
	margin-bottom: .9em;
}

h6 {
	font-size: 1em;
	margin-bottom: 1em;
}